*.pyc
*.pyd
*.dylib
*.so
coverage.html/*
_cache/*
.coverage
dist/*
build/*
.eggs/*
*egg-info/*
_doc/examples/_cache/*
_doc/auto_examples/*
_doc/examples/plot_*.png
_doc/_static/require.js
_doc/_static/viz.js
_unittests/ut__main/*.png
