autopep8
black
clang-format
cmakelang
coverage
cython
flake8
furo
isort
joblib
lightgbm
matplotlib
ml-dtypes
onnxmltools
onnxruntime; python_version < '3.11'
pandas
psutil
pyquickhelper>=1.12.3821
pytest
pytest-cov
ruff
scikit-learn
skl2onnx
sphinx
sphinx-gallery
tqdm
wheel
xgboost
