autopep8
black
clang-format
cmakelang
coverage
cython>=3.0
cython-lint
flake8
furo
isort
joblib
lightgbm
matplotlib
ml-dtypes
onnx-array-api
onnxmltools
onnxruntime
openpyxl
packaging
pandas
psutil
pytest
pytest-cov
pytest-subtests
rstcheck[sphinx,toml]
ruff
scikit-learn
skl2onnx>=1.14.1
sphinx<7.2  # furo still fails with sphinx==7.2.0 (issue unused furo.css)
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tomli
tqdm
wheel
xgboost
