autopep8
black
clang-format
cmakelang
coverage
cython
cython-lint
flake8
furo
isort
joblib
lightgbm
matplotlib
ml-dtypes
onnx-array-api
onnxmltools
onnxruntime; python_version < '3.11'
pandas
psutil
pyquickhelper>=1.12.3821
pytest
pytest-cov
ruff
scikit-learn
skl2onnx>=1.14.1
sphinx
sphinx-gallery
sphinx-issue
tqdm
wheel
xgboost
