name: Documentation

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build documentation on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3

      # Used to host cibuildwheel
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install requirements
        run: python -m pip install -r requirements.txt

      - name: Install requirements-dev.txt
        run: python -m pip install -r requirements-dev.txt

      - name: Install
        run: python -m pip install -e .

      - name: Documentation
        run: python -m sphinx ./_doc ./dist/html

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/html/**
